@import "tailwindcss";

/* @keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float { animation: float 3s ease-in-out infinite; }
.animate-float-delay { animation: float 3s ease-in-out 0.5s infinite; }
.animate-float-delay-2 { animation: float 3s ease-in-out 1s infinite; } */


@keyframes float {
  to {
    transform: translateY(calc(-100vh - 50px));
  }
}

.animate-float {
  animation: float linear infinite;
}